In [1]:
a=10

In [2]:
# you dont have to declare data type, python compiler will automatically declare it for you.

In [3]:
a='c'

In [4]:
TYPE(a)

NameError: name 'TYPE' is not defined

In [5]:
type(a)

str

In [6]:
int

int

In [7]:
#shift + tab

In [8]:
print("Hello World")

Hello World

In [9]:
print(123)

123

In [10]:
print('hello world')

hello world

In [11]:
age =32

In [13]:
print("my age is :",age)

my age is : 32

In [14]:
print("My age is: {age}")

My age is: {age}

In [16]:
# f is used for formating // called as f string

In [15]:
print(f"My age is: {age}")

My age is: 32

In [19]:
## format()
# any number start with 0 in python 
# R starts indexing with 1

In [20]:
name ='Parth'
age=32

In [24]:
print("My name is {} and age is {}".format(name,age))

My name is Parth and age is 32

In [ ]:
#Placeholders

In [27]:
print("My name is {firstname} and age is {ages}".format(firstname=name,ages=age))

My name is Parth and age is 32

In [28]:
# print complex statement then .format is used

In [31]:
name ='Parth'
age=32
degree="BE"

"My age is 32 and I have comepleted BE with name of Parth"

'My age is 32 and I have comepleted BE with name of Parth'

In [33]:
print("My age is{name} and I have completed my {age} with the name of {degree}")

My age is{name} and I have completed my {age} with the name of {degree}

In [34]:
print(f"My age is{name} and I have completed my {age} with the name of {degree}")

My age isParth and I have completed my 32 with the name of BE

In [44]:
## control flow 
### Decision Making statements 

# 1. if 
#  2. if else 
# 3. if elif else  
# 4. Nested if  
# 5. Single statement suites

In [46]:
## if statements 
## ==,>=,<=

age=18
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [47]:
## no need to worry abt indentation

In [49]:
age=18
if age<18:
    print("you are eligible to vote")

In [50]:
# no output as logic didnt went to if block

In [51]:
age=16
if age<18:
    print("you are eligible to vote")

you are eligible to vote

In [52]:
16<18

True

In [53]:
18<18

False

In [54]:
18<=18

True

In [55]:
## : indicates start of if block

In [56]:
input()

 Parth

'Parth'

In [57]:
name=input("Enter the name")

Enter the name Parth

In [58]:
name

'Parth'

In [59]:
age=int(input("Enter your age"))

Enter your age 20

In [60]:
type(age)

int

In [61]:
## task 
## take a input of age 
## check if age >=18 and age<=40
## display a message you are  young

In [67]:
age=int(input("Enter your age"))

Enter your age 44

In [69]:
if age>=18 and age<=40:
    print("You are young")

In [70]:
## if else statement

In [71]:
age=int(input("Enter your age"))
if age>=18 and age<=40:
    print("You are young")
else:
    print("Your application is rejected")

Enter your age 77

Your application is rejected

In [1]:
#mall - input the product price 
# product >1000 cad 20% off
# print the product price after removing discount
#product <=1000 cad 30% off 
# print the product price after removing discount

product_price=int(input("enter the price"))
if prod

In [2]:
product_price=int(input("enter the price"))
if product_price>1000:
    print("The price of product is {}" .format(product_price*0.8))
else:
    print("the price of product is {}" .format(product_price*0.7))

enter the price 799

the price of product is 559.3

In [3]:
product_price=int(input("enter the price"))
if product_price>1000:
    print(f"The price of product is {product_price*0.8}")
else:
    print(f"the price of product is {product_price*0.7}")

enter the price 2333

The price of product is 1866.4

In [ ]:
#mall - input the product price 
# product >3000 cad 20% off
# print the product price after removing discount
#product >= 2000 and <=3000 cad 30% off 
#product <=1000 and <=2000 40% pff
# print the product price after removing discount

In [6]:
product_price=int(input("enter the price"))
if product_price>3000:
    print(f"The price of product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    print(f"The price of product is {product_price*0.7}")
else:
    print(f"the price of product is {product_price*0.6}")

enter the price 1000

the price of product is 600.0

In [ ]:
#mall - input the product price 
# product >3000 cad 20% off
# print the product price after removing discount
#product >= 2000 and <=3000 cad 30% off 
## price ==2999 u will get additional gift 
#product <=1000 and <=2000 40% off
# print the product price after removing discount

In [ ]:
## nested if 
## if within if

In [9]:
product_price=int(input("enter the price"))
if product_price>3000:
    print(f"The price of product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("congratulation for getting additional gift")
    print(f"The price of product is {product_price*0.7}")
else:
    print(f"the price of product is {product_price*0.6}")

enter the price 2999

congratulation for getting additional gift
The price of product is 2099.2999999999997

In [ ]:
#mall - input the product price 
# product >3000 cad 20% off
#product = 4000 - trip to Toronto 
# print the product price after removing discount
#product >= 2000 and <=3000 cad 30% off 
## price ==2999 u will get additional gift 
#product <=1000 and <=2000 40% off
# print the product price after removing discount

In [11]:
product_price=int(input("enter the price"))
if product_price>3000:
     if product_price==4000:
        print("congratulation for getting Toronto Trip")
        print(f"The price of product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("congratulation for getting additional gift")
    print(f"The price of product is {product_price*0.7}")
else:
    print(f"the price of product is {product_price*0.6}")

enter the price 4000

congratulation for getting Toronto Trip
The price of product is 3200.0

In [14]:
## single statement  
val=int(input('Enter the number'))
if(val<=999):print("value is less than equal to 999")
else:
    print("Go home")

Enter the number 1000

Go home